*{
  background-color: rgb(218, 0, 0);
  color: white;
  border-radius: 0px 0px 20px 20px;
}

.log{
  background-color: rgb(200, 221, 142);
  color:red;
  border-radius: 20px 20px 20px 20px;
  margin: 5px 5px 5px 5px;
}
